{% extends "base.html" %}

{% block content %}
    <div class="row">
        <form action="{% url 'polls:vote' question.id %}" method="post">
            <fieldset>
                {% csrf_token %}

                <legend>{{ question }}</legend>

                {% for choice in question.choice_set.all %}
                    <div class="mb-3">
                        <div class="form-check">
                            <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" class="form-check-input">
                            <label for="choice{{ forloop.counter }}" class="form-check-label">{{ choice }}</label>
                        </div>
                    </div>
                {% endfor %}

                <input type="submit" value="Vote" class="btn btn-primary">
            </fieldset>
        </form>
    </div>
{% endblock content %}
